doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title || 'ClosetSwap'} | ClosetSwap
    link(rel='stylesheet' href='/css/style.css')
    script(defer src='/main.js')

  body
    header.site-header
      .container.site-header__inner
        a.logo(href='/') ClosetSwap

        button.nav-toggle(type='button' aria-label='Toggle navigation' aria-expanded='false')
          span
          span
          span

        nav.nav
          a.nav__link(href='/') Home
          a.nav__link(href='/listings') Listings
          a.nav__link(href='/listings/create') Sell an Item
          a.nav__link(href='/users') Users
          if user
            a.nav__link(href='/messages/inbox') Messages
            a.nav__link(href='/users/' + user.id) My Profile
            a.nav__link(href='/logout') Logout
          else
            a.nav__link(href='/login') Log In
            a.nav__link.nav__link--primary(href='/register') Sign Up

    main.page-main
      .container
        if success
          .alert.alert--success= success

        if error
          .alert.alert--error= error

        if errors && errors.length
          each err in errors
            .alert.alert--error= err

        block content

    footer.footer
      p &copy; 2026 ClosetSwap - Sustainable Fashion for Students
