doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ClosetSwap
    link(rel='stylesheet' href='/style.css')
    script(defer src='/main.js')
  body
    header.site-header
      .container.site-header__inner
        a.logo(href='/') ClosetSwap

        button.nav-toggle(type='button' aria-label='Toggle navigation' aria-expanded='false')
          span
          span
          span

        nav.nav
          a.nav__link(href='/') Home
          a.nav__link(href='/listings') Listings
          a.nav__link(href='/listings/create') Sell an Item
          a.nav__link(href='/users') Users
          a.nav__link(href='/messages') Messages
          if user
            a.nav__link(href=`/users/${user.id}`) My Profile
            a.nav__link(href='/logout') Logout
          else
            a.nav__link(href='/login') Login
            a.nav__link.nav__link--primary(href='/register') Register

    main.page-main
      .container
        if success
          .alert.alert--success= success

        if error
          .alert.alert--error= error

        block content
