extends ../layout

block content
  .auth-wrapper
    .auth-card
      h1 Welcome Back
      p.auth-subtitle Log in to manage your listings and browse items.

      form(action="/login" method="POST")
        .form-group
          label(for="email") Email Address
          input#email(type="email" name="email" placeholder="you@roehampton.ac.uk" value=(email || '') required)

        .form-group
          label(for="password") Password
          input#password(type="password" name="password" placeholder="Enter your password" required)

        button.btn.btn-primary(type="submit") Log In

      p.auth-footer Don't have an account? 
        a(href="/register") Sign up here
